*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "EB Garamond", serif;
  line-height: 1;
  color: #555555;
  padding-bottom: 5rem;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
}

.heading-primary {
  font-size: 5.6rem;
  color: #000;
  font-weight: 400;
  margin-bottom: 4rem;
}

.heading-secondary {
  font-size: 4rem;
  font-weight: 400;
  color: #000;
  text-align: center;
  margin-bottom: 2rem;
}

.heading-tertiary {
  font-size: 1.6rem;
  margin-bottom: 2.4rem;
}

.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  font-size: 1.2rem;
  color: inherit;
  text-decoration: none;
  text-transform: uppercase;
  border: 1px solid #868e96;
  border-radius: 4px;
  padding: 0.8rem 4rem;

  transition: all 0.4s;
}

.btn:link:hover,
.btn:visited:hover {
  background-color: #000;
  color: #fff;
}

.btn--form {
  background-color: #fff;
  padding-left: 2rem;
  padding-right: 2rem;
  cursor: pointer;
  margin-left: auto;
}

.btn--form:hover {
  background-color: #000;
  color: #fff;
}
